@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.container{
    width: 100%;
    padding-top: 6em;
}


.grotesk{
  font-family: "Space Grotesk", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  height: 52px;
}

.gradient_text{
  background: linear-gradient(to right, #2294e3 , #4b4bc3, #7e57c2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif; 
  font-weight: bold;
  font-size: 3.5rem;
  font-weight: 400;
  font-family: "Space Grotesk", sans-serif;
  height: 62px;
}

.subtext{
    color: #949da9;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    margin-top: 1.2em;
    max-width: 45rem;
}

.btn_list{
    display: flex;
    gap: 1em;
    margin-top: 1.2em;
}

.title_socials{
    margin-top: 1.2em;
    display: flex;
    gap: 1em
}

.title_socials a{
    text-decoration: none;
}

.about{
    margin-top: 2em;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.06), 0 18px 80px -40px rgba(0, 173, 255, 0.7), 0 22px 90px -52px rgba(168, 85, 247, 0.55);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.03));
    padding: 1.2em;
    border: 1px solid rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    border-radius: 1.3rem;
}

@media (max-width: 768px) {
    .grotesk{
        font-size: 2.2rem;
    }
    .gradient_text{
        font-size: 2.2rem;
    }
}

@media (max-width: 480px){
    .grotesk{
        font-size: 2rem;
    }
    .gradient_text{
        font-size: 2rem;
        height: 100%;
        margin-top: 2rem;
    }
}