.contact{
    padding-top: 6rem;
}

.contact_card{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.03));
    padding: 1.2em;
    border: 1px solid rgba(255, 255, 255, 0.10);
    box-shadow: 0 0 0 1px hsl(220 18% 16% / 0.9), 0 30px 80px -44px rgba(0, 0, 0, 0.86);
    backdrop-filter: blur(10px);
    border-radius: 1.3rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap:2rem;
}


.contact_card label{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

.contact_card input, textarea{
    font-size: 1rem;
    font-weight: bold;
    padding: .25rem .7rem;
    border-radius: .8rem;
    background-color: oklch(26.014% 0.02838 263.907);
    border: 1px solid oklch(35.455% 0.01925 260.695);
    color: white;
}

.contact_card textarea{
    height: 8rem;
}

