.navbar {
    display: flex;
    padding: 1em 0;
    border-bottom: 1px solid #595f67;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top:0;
    background: rgba(9, 11, 17, 0.9);
    align-items: center;
    z-index: 1;
}

.nav_list {
    list-style: none;
    display: flex;
    gap: .5em;
}

.nav_list li a {
    text-decoration: none;
    color: #949da9;
    padding: .4em .6em;
    border-radius: 10em;
    transition: .5s;
}

.navbar a:hover {
    background: #15181c;
    color: #e0e2e5;
}

.navbar span {
    background: linear-gradient(to right, #2294e3, #4b4bc3, #7e57c2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
}

.navbar_btn_list {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.navbar_btn_list button {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.navbar_btn_resumee {
    padding: .6em 1em;
    background: #17181d;
    color: #e0e2e5;
    outline: none;
    border: 1px solid #282a2f;
    border-radius: 2em;
    cursor: pointer;
}

.navbar_btn_mail {
    padding: .6em 1em;
    background: #23b2f9;
    color: black;
    outline: none;
    border: 1px solid #282a2f;
    border-radius: 2em;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav_list{
        display: none;
    }
}