@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #090b11;
  color: #e0e2e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 15%;
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  padding: .6em 1em;
  background: #16171d;
  color: #949da9;
  outline: none;
  border: 1px solid #282a2f;
  border-radius: 2em;
  cursor: pointer;
  align-items: center;
  gap: .5em;
  display: flex;
}

.btn:hover {
  color: #e0e2e5;
  background: #1d1e24;
  transition: .2s;
}

.btn_accent {
  padding: .6em 1em;
  background: #23b2f9;
  color: black;
  outline: none;
  border: 1px solid #282a2f;
  border-radius: 2em;
  cursor: pointer;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

.subtext {
  color: #949da9;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media (max-width: 1201px) {
  main {
    margin: 0 5%;
  }
}